/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@500&family=Teko:wght@300&display=swap');
body{
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Teko', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
.container{
    background-color:#FFFFFF;
    width: 870px;
    padding: 30px ;
    margin-top: 21px;
    border-radius: 5px;
    
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
/* top player stylee */
    .top-players{
        margin-bottom: 30px;
    }
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    /* grid-template-columns: 1fr 1fr 1fr  ; */
    grid-row-gap: 30px;
}

.player{   
    display: flex;
     align-items: center;   
}
.player img{
    height: 56px;
    width: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* top blogs styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
    }
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}
/* Course design  */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;

}
.course{
    background-color: rgba(231, 223, 223, 0.774);
    border-radius: 10px;
    /* border-radius: 10px; */
    /* box-shadow: rgb(241, 241, 2); */
}
.course .course-banner img{
    width: 224px;
    height: 104px;
    
}

 .course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.course-duration {
    
    background-color: #FFE4E8;
    border-radius: 14.6913px;
    width: 54.83px;
    
}

.course-info .fa-clock {
    color: #FF4A60;
} 
.fa-star.filled{

    color: #FFC014;
}
.fa-star.empty{

    color: #AEAEAE;
}

    /* Mobile Device  */
    @media only screen and (max-width:600px) {
        .container{
            width: 100%;

        }
        .players, .blogs, .courses{
            
            grid-template-columns: repeat(1, 1fr);
        }
        .player, .blog{
            flex-direction: column;
        }      
    }
    @media only screen and (min-width:688px) and (max-width:992px) {
        .container{
            width: 100%;

        }
        .players, .blogs, .courses{
            
            grid-template-columns: repeat(2, 1fr);
        }
        .player, .blog{
            flex-direction: column;
        }   

        
    }

    
